 /* Custom styles for the carousel */
 .carousel {
    position: relative;
    z-index: 0; /* Ensure carousel is below navbar */
  }
  /* Custom styles for the navbar */
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar is on top */
  }

/* ------------------------------------------------------------------------------------------------- */


.navbar-nav{
    margin-left: 100px;
}

.nav-link{
    margin: 20px;
}

/* ------------------------------------------------------------------------------------------ */

.grey-box{

    margin: auto;
    /* border: 1px solid black; */
    /* background-color: rgb(221, 209, 209); */
}


/* .w-col .grey-box:hover{
  background-color: rgb(240, 238, 238);
} */


/* ------------------------------------------------------------------------------------------ */

#content .w-col .grey-box:hover{
  background-color: lightgray;
}

#content .w-col .grey-box{
  /* padding-right:10px; */
  /* border: 1px solid black; */
  background-color: whitesmoke;
}

/* ------------------------------------------ */
.col{
  /* position: relative; */
  /* width: 50%; */
}

.image {
  /* display: block; */
  /* width: 100%; */
  /* height: auto; */
  height: 300px;
  width: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%; */
  /* width: 100%; */
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  /* padding: 40px; */
 
}

.col .overlay:hover {
  opacity: 0.6;
  /* z-index: 2; */
}

.text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 3px solid white;
  padding: 90px;
  font-weight: bold;

}

/* ---------------------------------------------------------------------------------------------- */

#uname{
  margin:auto;
}

#email{
  margin: auto;
}

#message{
  margin: auto;
}

/* ------------------------------------------------------------------------------ */

footer{
  height: 300px;
  background-color: #242424;
}